h1{
    width: 380px;
    height: 50px;
    text-align: center;
    border-width: 5px;
    border-style: double;
    border-color: darkblue;
    background-color: #CDC733;
    margin: 0 auto;
    color: black;
}
pre{
    color: aquamarine;
}
.caja-uno,
.caja-dos{
    background-color: #B8FFF9;
    border: medium solid #B85C38;
    padding: 8px 5px;
    margin: 8px 100px;
    color: black;
}
/* Propiedad Visibility */
.p-visibility{
    visibility: hidden;
}
/* Propiedad Overflow */
.p-overflow{
    width: 200px;
    height: 100px;
    background-color: #9CB4CC;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
    padding: 5px;
    color: black;
    border-radius: 5px;
}
.p-overflow-horizontal{
    background-color: #FFE61B;
    white-space: nowrap;
    width: 200px;
    overflow-x: auto;
    padding: 5px;
    color: black;
    border-radius: 5px;
}  
/* Tamaño de caja */
.div-box-sizing,
.div-border-box,
.no-border{
    width: 500px;
    height: 160px;
    background-color: lightcyan;
    color:black;
}
.div-box-sizing{
    border: medium solid black;
}
.div-border-box{
    box-sizing: border-box;
    padding: 5px;
    border: medium solid black;
}
/* Colapso de margenes */
/* Verticalmente */
.div-general-colapso div{
    border:thin solid black ;
    background-color: aquamarine;
    margin-top: 25px;
    margin-bottom: 25px;
}
/* Horizontalmente */
.div-general-colapso span{
    background-color: aquamarine;
    border:thin solid black;
    margin-right: 20px;
    margin-left: 20px;
    color: black;

}
/* Centrado de caja*/

.sitio-web{
    width: 500px;
    height: 200px;
    border: thin solid black;
    background-color: #6E85B7;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 0 3px;
}
.sitio-web hr{
    border: thin groove black;
}
.sitio-web h2,
.sitio-web footer>p{
    text-align: center;
    margin: 6px 0;
}
/* BOTON VOLVER */
.cta {
    position: fixed;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    top: 50%;
    right: 1%;
    text-decoration: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   .cta:hover{
    background: none;
    text-decoration: none;
   }
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }