html {
    box-sizing: border-box;
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
}
h1{
    text-align: center;
}
.font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    font-family: 'Cambria';
    font-size: 25px;
    font-weight: 600;
    font-style: oblique;
    font-variant: small-caps;
    line-height:0.55;
}
/* cargar fuente externa */
@font-face{
    font-family: "Chalet";
    src: url(../assets/Chalet.woff) format("woff");
    font-display: swap;
}
.chalet{
    font-family: 'Chalet', sans-serif;
}
@font-face{
    font-family: "Pecita";
    src: url(../assets/Pecita.woff) format("woff");
    font-display: swap;
}
.pecita{
    font-family: 'Pecita', sans-serif;
    font-size: 2rem;
}
/* desde google fonts */
.roboto{
    font-family:'Roboto Slab', serif;
    font-size: 20px;
}
/* Ajustes de texto */
.text{
    text-align: left;
    text-indent: 3rem;
    text-decoration:underline;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
}
.text-overflow{
    background-color: lightgrey;
    border: thin solid black;
    width: 40%;
    padding: 1rem;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}
/* white-space */
.white-space{
    white-space: pre;
}
/* word-spacing */
.word-spacing{
    font-size: 20px;
    word-spacing: 40px;
}
/* writing-mode */
.writing-mode{
    background-color: lightgreen;
    font-size: 1.5rem;
    writing-mode:vertical-lr;
    color: black;
}
/* BOTON VOLVER */
.cta {
    position: fixed;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    top: 50%;
    right: 1%;
    text-decoration: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #ffea47;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   .cta:hover{
    background: none;
    text-decoration: none;
   }
   .cta:hover:before {
    width: 100%;
    background: #ffea47;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }