img{
    max-width: 100%;
    height: auto;
}
.card{
    border: medium solid black;
    padding: 1px;
    width: 400px;
    height: 450px;
}
.card img{
    height: 260px;
    object-fit: cover; /*hola  */
    object-position: left top;
    
}
/* Volver */
.volver{
    border: thin solid darkblue;
    border-radius: 20%;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px;
    position: fixed;
    top: 20vh;
    left: 85vw;
}