h1{
    text-align: center;
}
.list li{
    background-color: #0f1438;
    width: 80%;
}
.style-type{
    display: flex;
    margin-right: 2px;
}
.upper-alfa{
    list-style-type: upper-alpha;
    margin-right: inherit;
    width: 140px;
}
.leading-zero{
    list-style-type: decimal-leading-zero;
    margin-right: inherit;
    width: 140px;
}
.circle{
    list-style-type: circle;
    margin-right: inherit;
    list-style-position: inside;
}
/* imagenes como viñeta  */
.img_vinietas{
    list-style-type: none;
}
.img_vinietas li::before{
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background-image: url("../assets/favicon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* Columnas */
.columnas{
    list-style-position: inside;
    column-count: 4;
    column-gap: 2rem;
    column-rule: thin solid darkgreen;
    column-width: 150px;
}
/* BOTON VOLVER */
.cta {
    position: fixed;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    top: 50%;
    right: 1%;
    text-decoration: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #ffea47;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}
.cta:hover{
    background: none;
    text-decoration: none;
}
.cta:hover:before {
    width: 100%;
    background: #ffea47;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
} 